<!--___________________movies list will show _______________________-->
<!--___________________search movies box    _______________________-->
<div class="container input-group my-3 w-50">
 <input type="text" (keyup.enter)="keySearch();" class="form-control" [(ngModel)]="movieSearch" placeholder="Search movie.." >
  <div class="input-group-append">
  <button type="submit" id="search-ico" (click)="search()"><i class="fa fa-search"></i></button>
  </div>
</div>
<div class="container py-3" *ngFor="let item of popularData">
<!--__________________card start _____________________________-->
 <div class="card">
  <div class="row ">
   <div class="col-md-3">
   <img class="img-fluid d-block" [attr.src]="movieUrl+item.poster_path" alt="Image not found">
   </div>
<!--_____________Search movie item show________________________-->
   <div class="col-md-9 px-2">
    <div class="card-block px-2 py-3">
    <h4 class="card-title">{{item.title}}</h4>
    <p class="card-text">Overview:&nbsp;{{item.overview}}</p>
    <p class="card-text"></p>
    <p class="card-text">Rating: {{item.vote_average}}</p>
    <a class="btn btn-primary" (click)="count()" >Add to favourite</a>
    </div>
   </div>
  </div>
<!--___________________row close______________________________-->
 </div>
<!--___________________card close______________________________-->
</div>
